body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: rgb(241, 210, 210);
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 90%
}

.location-div, .bikes-in-location-container, .form-div {
  width: 80%;
}


.back-to-bikes {
  margin-top: 3%;
}

.edit-or-delete {
  display: flex;
  justify-content: space-evenly;
}

.back-to-locations {
  margin-top: 3%;
  margin-bottom: 3%;
}

.locations {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.location-card, .bikes-in-location-card {
  border: 1px solid black;
  width: 80%;
  margin-bottom: 5%;
  padding: 5%;
  text-align: center;
}


button {
  padding: 12px;
  border-radius: 5px
}

.bikes-in-location-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.bikes-in-location {
  width: 90%;
}

.bikes-in-location-container h1 {
  align-self: flex-start;
}

.new-bike-button {
  width: 85.8px;
} 

.bikes-in-location-card img {
  max-width: 50%;
}


form {
  display: flex;
  flex-direction: column;
  padding: 5%
}

.form-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.submit-form {
  width: 60%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}


@media (min-width: 500px){
  .locations {
    justify-content: space-between;
  }
  
  .location-card {
    max-width: 300px;
    width: 38%;
  }

  .bikes-in-location-card {
    max-width: 450px;
    width: 45%;
    padding: 0;
    padding-bottom: 5%;
  }

  .bikes-in-location {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  input[type=text], input[type=number], input[type=email] {
    width: 300px;
  }

  .form-input {
    justify-content: space-around;
  }

  form input[type=submit] {
    max-width: 150px;
  }

}


@media (min-width: 1100px){
  .locations, .bikes-in-location {
    justify-content: space-around;
  }
}

